/* custom CSS */

body {
    font-family: Content-font, Roboto, sans-serif;
    font-size: 16px;
    font-weight: 150;
    line-heigth: 26px:
	text-rendering: optimizelegibility;
}

.left {
    margin: 15px 25px 10px !important;
    float: center !important;
}

.c-textbook__sidebar {
	left: 7vh;
	background-color: rgb(221, 221, 221);
}

.c-page__nav__prev, .c-page__nav__next {
	border: 1px solid rgb(230,236,241);
}

div.top-navbar {
    padding: 12px 12px 0 70px;
}

.c-topbar {
   padding: 12px 12px 0 70px;
}	

.c-textbook__page {
    left: 50px;
}

.c-textbook__content {
    margin-left: 30px;
}

.c-textbook__footer {
	/* display: inline list-item; */
	margin-left: 175px;
}


/* Custom CSS */


