/* custom CSS */

body {
    font-family: Content-font, Roboto, sans-serif;
    font-size: 16px;
    font-weight: 150;
    line-heigth: 26px:
	text-rendering: optimizelegibility;
}

.left {
    margin: 15px 25px 10px !important;
    float: center !important;
}

.c-textbook__sidebar {
/* 	left: 7vh; */
	background-color: rgb(240, 240, 275);
}

.c-page__nav__prev, .c-page__nav__next {
	border: 1px solid rgb(230,236,241);
	background-color: rgb(240, 240, 275);
}

.c-textbook__footer {
	margin-left: 175px;
	width: 1100px;
}

aside.sidebar__right{

    visibility: hidden !important;
}

.c-topbar .topbar-right-button{

    visibility: hidden !important;
}

.c-topbar{
	top:30px;
	left:0px
}


.hamburger-box{
	bottom: 35px;
}

.hamburger-box:after {
    content: "Colapse sidebar";
    display: inline-block;
    background: url(separador.png) center center no-repeat;
    height: 10px;
    width: 170px;
    padding-left: 35px;
    background-color: white;
}

.c-textbook__content{
    max-width: 1000px !important;
    width:110% !important;
	margin-left: 30px;
}

a:visited {
    color: black;
    text-decoration: none;
}



