/* custom CSS */

body {
    font-family: Content-font, Roboto, sans-serif;
    font-size: 16px;
    font-weight: 150;
    line-heigth: 26px:
	text-rendering: optimizelegibility;
}

.left {
    margin: 15px 25px 10px !important;
    float: center !important;
}

.c-textbook__sidebar {
/* 	left: 7vh; */
	background-color: rgb(201, 231, 255);
}

.c-page__nav__prev, .c-page__nav__next {
	border: 1px solid rgb(230,236,241);
}

.c-textbook__footer {
	margin-left: 175px;
	width: 1100px;
}

aside.sidebar__right{

    visibility: hidden !important;
}

.c-topbar .topbar-right-button{

    visibility: hidden !important;
}

.c-textbook__content{
    max-width: 1000px !important;
    width:110% !important;
	margin-left: 30px;
}


