/* custom CSS */

body {
    font-family: Content-font, Roboto, sans-serif;
    font-size: 16px;
    font-weight: 150;
    line-heigth: 26px:
	text-rendering: optimizelegibility;
}

.left {
    margin: 15px 25px 10px !important;
    float: center !important;
}

.c-textbook__sidebar {
/* 	left: 7vh; */
	background-color: rgb(240, 240, 275);
}

.c-page__nav__prev, .c-page__nav__next {
	border: 1px solid rgb(230,236,241);
	background-color: rgb(240, 240, 275);
}

.c-textbook__footer {
	margin-left: 15%;
	width: 95%;
}

aside.sidebar__right{

    visibility: hidden !important;
}

.c-topbar .topbar-right-button{

    visibility: hidden !important;
}

div.buttons{
	margin-top:0.2em;
	margin-left: 6.5%;
	width: 110%

}

.hamburger-box:after {
    font-weight:bold;
    content: "Сокриј содржина";
    display: inline-block;
    width:  600%;
    padding-left: 2em;
    background-color: white;
}

.c-textbook__content{
    max-width: 1000px !important;
    width:110% !important;
    margin-left: 5%;
    margin-top: 4%
}

a:visited {
    color: black;
    text-decoration: none;
}



